*, *::after, *::before {
	box-sizing:border-box;  
	margin: 0;
  }

  @font-face {
	font-family: 'Titan One', cursive;
	src: url('../fonts/Fascinate_Inline/FascinateInline-Regular.ttf') format('woff2');
	
	font-weight: bold;
	font-style: normal;
}


/* ****************************************************** */
					/* CUSTOM PROPERTIES */
/* ****************************************************** */

:root {
	/* color */
	--color-black:#111;
	--color-blackish:rgba(0, 0, 0, 0.048); 
	--color-blue:#AECCDD;
	--color-gray:#C4C4C4; 
	--color-pink: palevioletred;
	--color-purple:rgb(167, 119, 167);

	/* fontfamily */
	--h1-fontfamily: flegrei, sans-serif;
	--h2-fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
	--h3-fontfamily: Avenir;

	/* scrollbar */
	--color-scroll: rgba(216, 112, 147, 0.521);
}



/* ****************************************************** */
					/* BODY STIJLING */
/* ****************************************************** */

body {
	background-color:var(--color-blue);
	padding: 2.5em 2.5em calc(4em + 2.5em) 2.5em;
	line-height: 1;
}



/* ****************************************************** */
					/* LOGO STIJLING */
/* ****************************************************** */

header span:nth-of-type(1) h1{
	display: flex;
	justify-content: center;
	font-family: var(--h1-fontfamily);
	font-size: 15vmin;
	padding: .5em;
	position: relative;
	color:var(--color-black);
}   
	/* grijze streep op logo */
	header span:nth-of-type(1) h1::before{
		content: "";
		position: absolute;
		left: -.3em;
		right: -.3em;
		top: 50%;
		transform: translateY(calc(-25% - 6px)); /* zorgt ervoor dat de plaatsing van de stroke in het midden blijft */
		height: .23em;
		background-color: var(--color-gray);
	}



	
/* ****************************************************** */
					/* Button STIJLING */
/* ****************************************************** */

header button{
	position: absolute;
	top: 33vmin;
	right: 2em;
	font-size: 4.5vmin;
	
	border: none;
	outline-color: white;
		
	border-radius: 1em;
	padding: .5em;

	background-color: var(--color-scroll);
}

	header button:hover{
		background-color: rgba(27, 11, 83, 0.719);
	}
		.darkmode{
			background-color:rgba(27, 11, 83, 0.719);
		}

		.darkmode button::after{
			content: '🌔';	
			position: absolute;
			left: .5em;
		}
		
		

		



/* ****************************************************** */
					/* H2 STIJLING */
/* ****************************************************** */
h2:focus-within{
	outline-color: white;

}

main section h2 {
	font-family: var(--h2-fontfamily);
	font-weight: bold;
	font-size: 8vmin;
	color: var(--color-pink);
	
	margin-left: 1em;
	margin-bottom: .3em;

   	text-decoration-line: overline underline; 
}
	/* ruimte tussen elke section */		
	main section {
		margin: 0 -2.5em;
	}
		main section + section{ /* + geeft aan "inclusief" dat */
			margin-top: 4em;
		}




/* ****************************************************** */
				/* EMPTY FIELD STIJLING */
/* ****************************************************** */
/* container van de empty */
section:nth-of-type(1){
	/* background-color: var(--color-gray); */
}

	section:first-of-type ol{
		display:grid;
		grid-template-columns:1fr 1fr 1fr 1fr;
		background-color: var(--color-blackish);
		
		margin: 8vmin;
		margin-top: 1em;
		padding:0;
		
		gap: 2em;
		list-style:none; 

		overflow-x: scroll;
	}
		/* de empties */
		section:first-of-type li{
			background-color: var(--color-purple);
			width:11em;
			aspect-ratio:1/1;
			width: 40vmin; 
		}
		
	
		/* tekst in de empty */
		section:first-of-type ol :empty::after{ 
			content: "Sleep een liedje hier naar toe..";
			font-family: var(--h3-fontfamily);
			color: rgba(255, 255, 255, 0.562);

			font-weight: bold;
			font-size: 3vmin;
		
			display: flex;
			margin-right: 3em;
		
		    position: relative;
			top: 5em;
			left: 2em;
		}


			/* 1 song per keer zien op mobiel */
			@media (max-width: 350px){

				section:first-of-type li{
					width: 85vmin; 
				}

				section:first-of-type ol :empty::after{
					content: "Plaats je favo liedjes...";

					font-size: 7vmin;

					position: relative;
					top:5.1em;
					left: 1.5em;
				}
			}



/* ****************************************************** */
				/* SCROLLBAR STIJLING */
/* ****************************************************** */

/* zichtbaarheid van de bar */
::-webkit-scrollbar{
	width: 1em;
}
	/* de bar */
	::-webkit-scrollbar-track{
		background-color: var(--color-scroll);
		border-radius: 100vw;
	} 
		/* plaatsing van waar de bar is */
		::-webkit-scrollbar-thumb{
			background-color: var(--color-gray);
			border: .22em solid var(--color-scroll);
			border-radius: 100vw;
		}
/* bron:https://stackoverflow.com/questions/50817727/change-scrollbar-height */



/* ****************************************************** */
				/* NAVIGATIE-BALK STIJLING */
/* ****************************************************** */

nav{
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	
	padding: 0 2.5em;
	height: 15vmin;
	
	background-color: #c4c4c4bb;
	font-family: var(--h1-fontfamily);

	z-index: 1;
}
	/* plaatsing van de tekst */
	nav ul {
		display: flex;
		align-items: center;
		justify-content: center;
		list-style: none;
		height: 100%;
		color: var(--color-black); 
	}
		nav ul li{
			font-size: 5.1vmin;	
			margin-right: 1em;
		}

		/* 1 song per keer zien op mobiel */
		@media (max-width: 350px){
			nav ul{
				flex-wrap: wrap;
			}
		}
				
	/* hover functie op de nav */
	nav ul li:hover {
		color: var(--color-pink);
		transition: .3s;
		cursor: pointer;
	}



/* ****************************************************** */
				/* ZOEKBALK STIJLING */
/* ****************************************************** */

	nav .searchbar {
		position: absolute;
		border-radius: .2em;
		
		border: none;
		outline-color: var(--color-pink);
		
		
		padding: .9em;
		font-size: 3vmin;
		display: none;
	}
		.searchbar.active{
			display: unset;
			width: 56vmin;
		
		}
	
	/* kruisje bij zoeken */
	.clear{
		position: relative;
		left: 23vmin;
		bottom: 1.5vmin;
		font-size: 3vmin;
		transform: translate(-50%);

		cursor: pointer;
		
		display: flex;
		
		align-items: center;
		display: none;

	}
		@media (max-width: 350px){
			.clear{
				left: 6vmin;
				top: 2.5vmin;
			}
		}
			.clear::before{
				position: absolute;
				content: '';
				width: .3em;
				height: 1em;
				background: var(--color-black);
				transform: rotate(45deg);
			}
			.clear::after{
				position: absolute;
				content: '';
				width: .3em;
				height: 1em;
				background: var(--color-black);
				transform: rotate(315deg);
			}
				.clear.active{
					display: unset;
				}




/* ****************************************************** */
				/* VIDEO CONTAINER STIJLING  */
/* ****************************************************** */
/* container van section 2 */
section:nth-of-type(2){
	/* background-color: var(--color-gray); */
}
	section:nth-of-type(2) ol{
		display:flex;
		margin: 8vmin;
		margin-top: 1em;
		padding: 0;
		
		list-style:none; 
		overflow-x: scroll;
		
		background-color: var(--color-blackish);
	}
		iframe {
			width:40vmin;
			height: calc(var(--size-vid) / 560 * 315);
			aspect-ratio: 1/1;
			margin-top: .5em;
			margin-right: 2em;		
		} 


		
/* ****************************************************** */
					/* H3 + P STIJLING */
/* ****************************************************** */

h3{
	font-family: var(--h2-fontfamily);
	color:rgb(43, 17, 17);
	font-weight: bold;
	font-size: 4vmin;
	
}
	p{
		font-family: var(--h2-fontfamily);
		color: rgb(158, 90, 90);
		font-weight: bold;
		font-size: 3.1vmin;
	}

	/* mobiel */
	@media (max-width: 350px){
		h3{
			font-size: 7vmin;
		}
			iframe {
				width:84vmin;
			} 
	}


/* ****************************************************** */
				/* GRAB STIJLING */
/* ****************************************************** */
	
li{
	cursor: grab;
}	
li.sortable-ghost {
	/* jouw code hier */
	opacity:.25;
  }
li.sortable-drag{
	cursor: grabbing;
}	

/* li p::before{
	content: "uit: ";
} */


